<div [hidden]="!loading" class="container admin text-center" style="transform:translateY(12.5%);"><em><i style="font-size:15em;" class="fa fa-refresh fa-spin fa-3x fa-fw"></i><br>
  <h1>Loading...</h1></em>
</div>
<div [hidden]="loading">
    <h1><em>{{post.titre}}</em></h1>
    <br>
    <div class="row">
        <div class="col-sm-8 col-8">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/"><i class="fa fa-home" aria-hidden="true"></i><em> Home</em></a></li>
                <li class="breadcrumb-item"><a routerLink="/{{post.category.titre}}/{{post.category.id}}/1"><i class="fa fa-folder-open-o" aria-hidden="true"></i> <em>{{post.category.titre}}</em></a></li>
                <li class="breadcrumb-item active"><i class="fa fa-file-text-o" aria-hidden="true"></i> <em>{{post.titre}}</em></li>
            </ol>

            <br>
            <div [innerHtml]="post.contenu"></div> <br>
            <div class="row">
                <div class="col-sm-4 col-12" *ngFor="let image of images">
                    <a href="http://localhost/img/articles/{{image.name}}" data-lightbox="roadtrip">
                        <p><img src="http://localhost/img/articles/{{image.name}}" class="img-fluid img-thumbnail" alt="Images" width="300px"></p>
                    </a>
                </div>
            </div>

        </div>

        <div class="col-sm-4 col-4">
            <br><br><br>
            <app-categories></app-categories>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-6">
            <form class="example-form" (ngSubmit)="commenter()" ngNativeValidate>
                <h3><i class="fa fa-commenting" aria-hidden="true"></i> <em>Poster Vos Commentaires</em></h3>
                <br>
                <mat-form-field class="example-full-width">
                    <input matInput type="text" [(ngModel)]="name" name="name" placeholder="Enter Ur Name" required>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <textarea matInput [(ngModel)]="comment" name="comment" placeholder="Enter Ur comment" rows="7" required></textarea>
                </mat-form-field>
                <br>

                <div class="text-right">
                    <button mat-mini-fab class="accent" type="submit"><i class="fa fa-commenting-o" aria-hidden="true"></i></button>
                </div>

            </form>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-6 col-6">
            <div>
                <h3><i class="fa fa-comments" aria-hidden="true"></i> <em>Commentaires</em> :</h3>
                <div class="text-right">
                    <mat-form-field>
                        <mat-select placeholder="Sort" [(ngModel)]="order" name="food">
                            <mat-option value="+date">oldest</mat-option>
                            <mat-option value="-date" selected>newest</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <br>
                </div>
            </div>

            <div *ngFor="let comment of comments|orderBy:order:true; let i=index" [attr.data-index]='i'>
                <h6><b>{{comment.name}} : </b></h6>
                <div class="row ">
                    <div class="col-sm-1 col-1"></div>
                    <div class="col-sm-10 col-10 ">
                        <p> {{comment.content}} </p>
                    </div>
                    <button *ngIf="logged" style="background-color: white;box-shadow: 0px 0px 0px 0px;border: 0px;" mwlConfirmationPopover [title]="title" [message]="message" placement="center" (confirm)="delete(comment.id,i)">
                        <i ng-show="dat" class="fa fa-times t" aria-hidden="true "></i>
                        </button>

                </div>
                <hr>
            </div>

        </div>
    </div>
</div>