.example-form {
    min-width: 150px;
    max-width: 1000px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.accent {
    background-color: #2C3E50
}
.spacer {
    padding-left: 1.5em;
   }