<div *ngIf="!navBar; then guestNavBar else adminNavBar"></div>
<ng-template #guestNavBar>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">

        <div class="navbar-brand moz" id="a">
            <div class="dropdown navbar-brand text-info">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false"></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" routerLink="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
                </div>
            </div>

            <a routerLink="/" routerLinkActive="active">
                <i class=" fa fa-university text-info " aria-hidden="true "></i>
            </a>
        </div>
        <button class="navbar-toggler moz" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-sliders" aria-hidden="true"></i>
    </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form class="form-inline" (ngSubmit)="search()" ngNativeValidate>
                <div class="input-group">
                    <input [(ngModel)]="input" name="input" id="search" class="form-control re" type="text" placeholder="Search" required>
                    <button id="button" class="btn btn-sm my-2 my-sm-0" type="submit"><i class="fa fa-search s" aria-hidden="true"></i></button>
                </div>
            </form>
        </div>
    </nav>
</ng-template>
<!-- ---------------- -->

<ng-template #adminNavBar>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">

        <div class="navbar-brand moz" id="a">
            <a routerLink="/" routerLinkActive="active">
                <i class=" fa fa-university text-info " aria-hidden="true "></i>
            </a>
        </div>
        <form class="form-inline" (ngSubmit)="search()" ngNativeValidate>
            <div class="input-group">
                <input [(ngModel)]="input" name="input" id="search" class="form-control re" type="text" placeholder="Search" required>
                <button id="button" class="btn btn-sm" type="submit"><i class="fa fa-search s" aria-hidden="true"></i></button>
            </div>
        </form>
        <button class="navbar-toggler moz" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-sliders" aria-hidden="true"></i>
    </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
            </ul>
            <li class="nav-item list-unstyled padding">
                <a class="btn btn-outline-info" href="#!/admin/home"><i class="fa fa-home" aria-hidden="true"></i> Administration <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item list-unstyled padding">
                <div class="dropdown">
                    <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#!/admin/categories/1"><i class="fa fa-folder-open-o" aria-hidden="true"></i> Categories</a>
                        <a class="dropdown-item" href="#!/admin/posts/1"><i class="fa fa-file-text-o" aria-hidden="true"></i> Posts</a>
                    </div>
                </div>
            </li>
            <li class="nav-item list-unstyled padding">
                <div class="dropdown">
                    <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-o" aria-hidden="true"></i> Compte</button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#!/admin/user/edit/username"><i class="fa fa-user-secret" aria-hidden="true"></i> Change username</a>
                        <a class="dropdown-item" href="#!/admin/user/edit/password"><i class="fa fa-key" aria-hidden="true"></i> Changer Mots de passe</a>
                        <a class="dropdown-item" href="" ng-click="decon()"><i class="fa fa-sign-out" aria-hidden="true"></i> Déconnecter</a>
                    </div>
                </div>
            </li>

        </div>
    </nav>
</ng-template>