<div class="row">

    <div class="col-sm-8 col-8">
        <h2><i class="fa fa-search" aria-hidden="true"></i> <em> <b>Search result : {{query}}</b></em></h2>

        <br>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href=""><i class="fa fa-search" aria-hidden="true"></i><em> Search</em></a></li>
            <li class="breadcrumb-item active"><em>{{query}}</em></li>
        </ol>
        <br>
        <div [hidden]="!loading" class="container admin text-center" style="transform:translateY(12.5%);"><em><i style="font-size:15em;" class="fa fa-refresh fa-spin fa-3x fa-fw"></i><br>
                <h1>Loading...</h1></em>
        </div>
        <div [hidden]="loading">
            <div *ngFor="let post of posts">
                <h2><a routerLink="/{{post.category.titre}}}/{{post.category.id}}/{{post.titre}}/{{post.id}}">{{post.titre}}</a></h2>
                <a routerLink="/{{post.category.titre}}/{{post.category.id}}/1"><i class="fa fa-folder-open-o" aria-hidden="true"></i><em class="shadow">{{post.category.titre}}</em></a>
                <br><br>
                <div>
                    <p style="line-height:1em" [innerHtml]="post.contenu"></p>
                    <a routerLink="/{{post.category.titre}}}/{{post.category.id}}/{{post.titre}}/{{post.id}}}">... Voir la suite</a>

                    <div class="text-right"><em>{{post.date | timeSince}} ago</em></div>
                </div>
                <hr>
            </div>


            <div [hidden]="pages.length == 0">
                <br>
                <ul class="pagination justify-content-center">
                    <li [class.disabled]="page <= 1" class="page-item">
                        <a class="page-link" routerLink="//search/{{query}}/{{(page*1)-(1*1)}}">&laquo;</a>
                    </li>

                    <li [class.active]="Page === page" *ngFor="let Page of pages" class="page-item ">
                        <a routerLinkActive="active" class="page-link" routerLink="/search/{{query}}/{{Page}}">{{Page}}</a>
                    </li>

                    <li [class.disabled]="disabled" class="page-item">
                        <a class="page-link" routerLink="//search/{{query}}/{{(page*1)+(1*1)}}">&raquo;</a>
                    </li>

                </ul>
            </div>
        </div>


    </div>

    <div class="col-sm-4 col-4">
        <br><br><br>
        <app-categories></app-categories>
    </div>

</div>